android/Measurements_30/.idea
android/Measurements_30/.gitignore
android/Measurements_30/app/.gitignore
android/Measurements_30/app/build
android/Measurements_30/app/libs
android/Measurements_30/app/src/androidTest
android/Measurements_30/app/src/test
android/Measurements_30/build
android/Measurements_30/gradle
android/Measurements_30/gradlew
*.properties
*.iml
*.gradle
*.pro
*.bat
server/MeasurementExtractor/.settings
server/MeasurementExtractor/.classpath
server/MeasurementExtractor/.project
server/MeasurementExtractor/target
server/MeasurementExtractor/nbactions.xml
server/MeasurementExtractor/src/main/resources
server/MeasurementExtractor/src/test
